NODE_ENV=development
MONGODB_URI=mongo_db_link
# MONGODB_URI=https://db-tunnel-setup.onrender.com
CLOUDINARY_NAME=cloudianry_name
CLOUDINARY_API_KEY=cloudinary_key
CLOUDINARY_SECRET_KEY=cloudinary_secret
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=90d
EMAIL_USERNAME=wmail_user
EMAIL_PASSWORD=email_password
EMAIL_HOST=mailtrap_host
EMAIL_PORT=mail_port
STRIPE_SECRET_KEY=stripe_secret
STRIPE_PUBLISHABLE_KEY=stripe_publishable
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
